<%- include('partials/header') %>
  <%- include('partials/navbar') %>

    <div class="jumbotron">
      <div class="container">
        <div class="text-center">
          <i class="fas fa-key fa-6x"></i>
          <h1 class="display-5 heading text-center">You've Discovered A Lot of Secrets!</h1>
        </div>

        <% usersWithSecrets.forEach((user, userIndex)=> { %>
          <% user.secrets.forEach((secret, secretIndex)=> { %>
            <form action="/delete" method="post">
              <div class="secret-container">
                <p class="secret-text">
                  <%= secret %>
                    <input type="hidden" name="userIndex" value="<%= userIndex %>">
                    <input type="hidden" name="secretIndex" value="<%= secretIndex %>">
                    <input type="hidden" name="userId" value="<%= user._id %>">
                </p>
                <% if(user._id===userId){ %>
                  <button type="submit" class="delete-button">
                    <i name="selectedSecret" style="color: white;" class="bi bi-trash3"></i>
                  </button>
                  <% } %>
              </div>
            </form>
            <% }) %>
              <% }) %>
      </div>
    </div>

    <%- include('partials/footer') %>